div.feedback{

  h3{
      color:$brown;
      text-align: center;
      margin:40px 0;
      font-size: $h3-fz;
      @include ipad{
          font-size: 26px;
      }
  }
  
  ul.feedback-item{
      display:flex;
      justify-content: space-around;

      li{
          display:flex;
          width: 350px;
          // padding:20px;

          img{
              width:67px;
              height:67px;
              border-radius: 50%;
          }
          p{
              color:$brown;
              padding:20px 10px;

              @include ipad{
                  font-size: 24px;
              }
          }
          span{
              display: block;
              color: rgba(61,17,0,0.75);
              text-align: right;
              padding-top: 10px;

              @include ipad{
                  font-size: 24px;
              }
          }
          @include ipad{
              margin: 0 auto;
          }
      }
      @include ipad{
          display:block;
      }
  }
}

div.map{
  background:#fafafa;
  padding-bottom: 20px;

  h3{
      color:$brown;
      padding:40px 0;
      text-align: center;
      line-height: 1.5;
      font-size: $h3-fz;
  }

  div.map-item{
      display: flex;
      justify-content: center;

      
      img{
          display: block;
          margin-right: 40px;

          @include ipad{
              margin: 0 auto;
          }

          @include iphone{
              width: 80%;
          }
      }

      div.input{
           margin-right: 150px;

           @include ipad{
              width:450px;
              margin:20px auto;
          }

          @include iphone{
              width:300px;
              margin:20px auto;
          }

          input[type="text"],input[type="number"]{
              border:1px solid #ccc;
              width:250px;
              height:25px;
              
          }

          input[type="number"]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
            margin: 0; 
          }
          input[type="number"] {
              -moz-appearance:textfield;
          }

          input,label{
              margin-top: 8px;
              margin-bottom: 20px;
              color:$brown;
          }

          div.btn-item{
              display: flex;
              justify-content: flex-end;

              input.btn{
                  border:none;
                  padding:5px 20px;
                  border-radius: 5px;
                  cursor: pointer;
              }
              
              input.btn-enter{
                  background:#F56C23;
                  color:#fff;

                  &:hover{
                      background:#fff;
                      color:#F56C23;
                      transform: scale(1.05)
                  }
              }
              input.btn-cancel{
                  margin-right:10px;
                  background: #a09e9e;
                  color:#fff;
              }
          }

      }
      @include ipad{
          display:block;
      }
  }
}